<div class="splash">
    <h1 class="title">Cartel</h1>
    <h2 class="subtitle">Build your drug empire.</h2>
    <div class="content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et metus mattis, porta elit id, porttitor odio. Vivamus at nunc volutpat, ultricies neque eu, mollis quam. Nulla sodales quis enim ut luctus. Cras imperdiet lorem non nisl ullamcorper commodo. Fusce nunc odio, ornare vitae risus sed, imperdiet mollis ante. Ut sagittis malesuada erat, non auctor lacus luctus fermentum. Maecenas luctus a justo id mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed varius, metus ac maximus facilisis, lectus libero pulvinar nulla, non molestie neque diam at nisl. Suspendisse eleifend pharetra augue vel facilisis. Nullam blandit fermentum lacus ac dapibus. Integer pretium sem sit amet ullamcorper aliquam.
        </p>
    </div>
</div>
